.flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.452);
}

.contenido-modal {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 30%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
    animation-name: modal;
    animation-duration: 1s;
}

@keyframes modal {
    from {
        top: -330px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: bold;
    justify-content: right;
}

.close:hover {
    color: #7f8c8d;
    text-decoration: none;
    cursor: pointer;
}

.modal-header,
footer {
    padding: 8px 1px;
    background-image: linear-gradient(#36A8EE, #3AD8D3);
    color: #f2f2f2;
}

@media screen and (max-width:900px) {
    .contenido-modal {
        width: 80%;
    }
}