/* Tipografía documento y margen */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*Estilo Contenedor*/

.container {
    width: 90%;
    max-width: 1500px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "header header header"
                        "content content content"
                        "pokemonBox pokemonBox pokemonBox"
                        "footer footer footer"
}

.container .header {
    grid-area: header;
    text-align: center;
}

.container .content {
    grid-area: content;
}

.container .pokemonBox {
    grid-area: pokemonBox;
    height: 1000px;
}

.container .footer {
    background: #EEEEEE;
    color: #213037;
    grid-area: footer;
}

/* Espacio Menú y Color*/

.menuFiltro {
    width: 100%;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
}

/*Color fondo para eliminar gris*/

header .pokeWelcome {
    background: #FFFFFF;
}

/*Desaparecemos el checklist*/

#btn-menu {
    display: none;
}

/*Atributos botón menú hamburguesa*/

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #828282;
}

/*Atributo botón menu hamburguesa HOVER*/

header label :hover {
    cursor: pointer;
    background: #d8d7d7;
}

/*Estilo lista*/

.menuFiltro ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

/* Estilo items lista*/

.menuFiltro li {
border-right: 1px solid #828282;
}

/*Efecto hover menu*/

.menuFiltro li:hover {
    background: #D3D3D3;
}

/*Estilo texto items menu*/

.menuFiltro li a {
    display: block;
    padding: 15px 100px;
    color: #4F4F4F;
    text-decoration: none;
}

/*menu responsive*/

@media (max-width:768px) {
    
    /*Hacemos aparecer el ícono menú hamburguesa*/

    header label {
        display: block;
    }

    /*Estilo y posición menú hamburguesa*/

    .menuFiltro {
        position: absolute;
        background: #EEEEEE;
        width: 55%;
        margin-left: -80%;
        transition: all 0.5s;
    }

    /*Indicamos que el menú se vea como columna*/

    .menuFiltro ul {
        flex-direction: column;
    }

    /*Líneas separadoras del menú hamburguesa*/

    .menuFiltro li {
        border-top: 1px solid #828282;
    }

    /*Indicamos que check busque a menú filtro*/

    #btn-menu:checked ~ .menuFiltro {
        margin: 0;
    }
}

/*PÁGINA RESPONSIVE TABLET*/

@media screen and (max-width: 768px) {

    .container {

        grid-template-areas: "header header header"
                            "content content content"
                            "content content content"
                            "footer footer footer"
    }

  .container .classButt {

    grid-area: content;
    background-size: 100%;
    margin: 10px;
    display: inline-block;
    align-content: center;
    justify-content: center;
  }

  .container .classButt2 {

    grid-area: content;
    background-size: 100%;
    margin: 10px;
    display: inline-block;
    align-content: center;
    justify-content: center;
  }

  .container .pokeWelcome {
      grid-area: header;
      width: 100%;
  }
}

/* Clase para div de mini carta pokemon */

.classDivMiniCard {
    width: 190px;
    height: 190px;
    background-image: linear-gradient(#f5f5f5, #FFFFFF);
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 18px;
    padding: 5px;
    box-shadow: 9px 9px 21px -9px #e0fbfd;
    text-align: center;
    font-size: 18px;
}

/* Estilo Botón Pokemones Comunes*/

.classButt {
    background-image: url(../src/images/bg-boton-common.jpg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-color: #FFFFFF;
    height: 350px;
    width: 300 px;
    background-position: center;
    font-size: 50px;
    display: inline;
    border: none;
    color: transparent;
    cursor: pointer;
    margin: 30px;
    
}

/* Estilo Botón Pokemones Raros*/

.classButt2 {
    background-image: url(../src/images/bg-boton-rare.jpg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-color: #FFFFFF;
    height: 350px;
    width: 300 px;
    background-position: center;
    font-size: 50px;
    display: inline;
    border: none;
    color: transparent;
    cursor: pointer;
    margin: 30px;
}

/*Estilo Nombre Pokemon Mini Card*/

h1 {
    font-size: 21px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1px;
    color: #213037;
}

/*Estilo Info secundaria Pokemon Mini Card*/

p {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 100;
    line-height: 1px;
    color: #828282;
}

h2 {
    text-align: center;
    color: #828282;
    font-size: 14px;
    font-weight: 400;

}

.content {
    display: flex;
    justify-content: center;
}