/* Tipografía documento */

body {
    font-family: 'Roboto', sans-serif;
}

/* Clase para div de mini carta pokemon */

.classDivMiniCard {
    width: 190px;
    height: 190px;
    background-image: linear-gradient(#f5f5f5, #FFFFFF);
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 18px;
    padding: 5px;
    box-shadow: 9px 9px 21px -9px #e0fbfd;
    text-align: center;
    font-size: 18px;
}

/* Estilo Botón Pokemones Comunes*/

.classButt {
    background-image: url(../src/images/button-pokemon-common.png);
    background-repeat: no-repeat;
    background-size: 500px;
    height: 350px;
    width: 300 px;
    background-position: center;
    font-size: 50px;
    display: block;
    border: none;
    color: transparent;
    cursor: pointer;
}

/* Estilo Botón Pokemones Raros*/

.classButt2 {
    background-image: url(../src/images/button-pokemon-rare.png);
    background-repeat: no-repeat;
    background-size: 500px;
    height: 350px;
    width: 300 px;
    background-position: center;
    font-size: 50px;
    display: block;
    border: none;
    color: transparent;
    cursor: pointer;
}

/*Estilo Nombre Pokemon Mini Card*/

h1 {
    font-size: 21px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1px;
    color: #213037;
}

/*Estilo Info secundaria Pokemon Mini Card*/

p {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 100;
    line-height: 1px;
    color: #828282;
}

/*#slide_nav {
    background-color:black;
    width:100%;
    height:60px;
    line-height:60px;
    color:white;
    font-family:helvetica;
    font-size:25px;
    padding-left:10px;
    box-sizing:border-box;
    }
    #slide_nav_button {
    width:90px;
    cursor:pointer;
    }
    ul {
    display:none;
    padding:0px;
    margin:0px;
    width:200px;
    height:90%;
    background-color:#2E2E2E;
    position:absolute;
    box-shadow:inset 0px 0px 50px 0px #6E6E6E;
    }
    #slide_menu li {
    border-bottom:1px solid #424242;
    }
    #slide_menu li:hover {
    width:201px;
    background-color:#2E2E2E;
    box-shadow:inset 0px 0px 50px 0px #848484;
    -webkit-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    }
    #slide_menu li a {
    height:50px;
    line-height:50px;
    display:block;
    color:silver;
    text-decoration:none;
    font-size:18px;
    font-family: helvetica;
    padding-left:10px;
    }
    #slide_menu li:hover a {
    padding-left:25px;
    color:white;
    -webkit-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    }*/